.topBarContainer {
    box-sizing: border-box;
    border-top: 1px solid rgba(230, 229, 229, 1);
    border-bottom: 1px solid rgba(230, 229, 229, 1);
    height:40px;
    display:flex
}


.topBarLinks {
display:block;
border:1px solid black;
float: right;
margin-right:20px;
margin-left:200px;
margin-top: 5px;
text-decoration:none;
}    

.logo{
width:100px;
height:30px;
border:0px;
}    