
/* Applying border-box to all elements is safe and wise: */
* {
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    font-size:12px;
  }

body {
    margin: 0;
  }

  
.top-bar-container {
    border-top:1px solid rgb(230, 229, 229);
    border-bottom:1px solid rgb(230, 229, 229);
    height:50px;

    }

.top-bar {
     /* Add position: sticky; to <ul> to create a sticky navbar. */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    padding:2px 0px;
 /* background-color:#718817fe;*/
    }

.logo{
    width:120px;
    height:40px;
}

.top-bar li{
    float:left;
    margin-left:60px;
}

top-bar li a {
    display:block;
    text-align:center;
    text-decoration:none;


}

.top-bar li.tel{
    float:right;
    margin-right:60px;
}

.tel {
    /* border:1px solid green;  */
    
    font-weight: bold;
    padding: 10px;
     
    }


.glyphicon-earphone {
    color: #718817fe;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    /* position:relative; */
    }
 
.tel a {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.938);
    text-decoration: none;
    letter-spacing: .100rem;
    }
        
.tel a:hover {
    color: #718817fe
    }


/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
The code in the example above is the standard code used in both vertical, and horizontal navigation bars.
w3schools
css navigation bar */


.main-nav {
    
    list-style-type: none;
    margin:auto;
    padding: 0;
    /* background-color:#718817fe;*/
    text-align: center; 
    }
      
.main-nav li {
    /* from the inline-block page. trying to center the navigation bar child element<li>*/
    display: inline-block;
    padding: 30px; 
    }
  

.main-nav li a {
    color:#333; 
    text-decoration: none;
    /* display: block;  lookup Navigation Bar Page*/ 
    /* text-align:center; */
    /* padding: 14px 16px; */
    }


/* Change color on hover */    
.main-nav li a:hover {
    color: #718817fe;
    font-weight: bold;
    /* background-color:#6a7e12fe; slightly darker*/
    }

li a.home {
    color: #718817fe;
    font-weight: bold;
}



/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  /* height: 200px; Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}




@media screen and (max-width: 600px) {

    .top-bar-container {
        border-top: 0px; 
        border-bottom: 0px;
        /* height: 75px; */
       
        }
    

.top-bar li, .top-bar li.tel {
    float:none;
    margin-right:0px;
    margin-left:0px;
    
    
}

.top-bar li.tel{
    border:1px solid rgb(230, 229, 229); 
    margin-bottom: 10px;
    
    
 }

}



